#bgimg{
   background-image: url('../../assets/img/joinbg.jpg');  
  width: 100%;
  height: auto;
  margin-top: -35px;
  margin-bottom: -72px;
  background-size: cover;
  
}
#loginimg{
    background-image: url('../../assets/img/joinlogo.png');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;

    margin-bottom: -80px;
    margin-left: 110px;
   
   
}
