.card{
  width: 500px;
 background-color: rgba(206, 212, 212, 0.5) !important;

    }
    .container-fluid{
        background-image: url('../../assets/img/joinbg.jpg');
        background-size: 100%;
        height: auto; 
        width: 100%;
    }