
 <!--    <div class="container-fluid">
            <div class="row">
                  <div class="col-sm-12">
            
                <div class="bg-dark text-white text-center">
            
                        <footer class>
                              @copyright 2019 All Rights Reserved</footer>

                  </div>
                  </div>
                  </div>
      </div>
-->
<div class="container-fluid">
      <div class="row">
           
                        <footer class="mt-0  col-sm-12 bg-dark">
                              <h3 class="text-danger text-center">Follow Us On</h3>
                              <hr class="bg-secondary w-75">
                              <div class="text-center">
                              <a href="https://www.google.com/"><i class="fa fa-google-plus" style="color:white;background: #dd4b39;"></i></a>
                              <a href="https://www.facebook.com/"><i class="fa fa-facebook" style="color:white;background: #3B5998;"></i></a>
                              <a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter" style="color: white; background: #55ACEE;"></i></a>
                              </div>
                                    <div class="row text-center"> 

                                       <div class="col-sm-4 col-lg-4 col-xm-4">
                                                <div class="text-danger text-center" style="font-family: 'Pacifico', cursive; font-size: 70px;">Exams<p class="text text-secondary   ">Websites</p></div>
                                          </div>
                                          <div class="col-sm-3 col-xl-3 col-lg-3">
                                                <h5 class="text-danger">About Us</h5>
                                                <p class="text-secondary">Exams Website is about assignments submission.Our aim is to make 
                                                it easy for you to submit your assignments and projects with course details.
                                          </div>
                                          <div class="col-sm-2">
                                                <h5 class="text-danger">Help</h5>
                                                <p><a href="#" class="text-secondary" > Twitter</a></p>
                                                <p><a href="#" class="text-secondary"> Facebook</a></p>
                                                <p><a href="#" class="text-secondary"> FAQ</a></p>
                                          </div>
                                    </div>     
                                                <hr class="bg-secondary">
                                                
                                                            <div class="footer-copyright text-center py-3"  style="color:white;">© 2019 Copyright:
                                                                  <a href="http://localhost:4200/"  style="color:white;"> ExamsWebsite.com</a>
                                                            </div>
                              
                                              
                  </footer>
            </div>
</div>
    