
   
  <div class="col-*">   
      <div class="text-danger text-center  " style="font-family: 'Pacifico', cursive;">Exams<p class="text text-dark ml-5  ">Websites</p>
      
      </div>
     
      <nav class="navbar  navbar-expand-lg  sticky-top h-40  " style="background:rgb(116, 190, 182)">
        
          
            <div id="navbarSupportedContent">
       
        
            <ul class="navbar-nav ">
              <li class="nav-item active">
            <button class="nav-link fa fa-home"  routerLink="" >Home</button>
             </li>
              <li class="nav-item">
                <button class="nav-link fa fa-user"  routerLink="/login" >Login</button>
          
          </li>
        <li class="nav-item">
                <button class="nav-link fa fa-sign-in" routerLink="/join"  > Join</button>
              </li>
              <li class="nav-item">
                <button class="nav-link fa fa-dashboard" routerLink="/dashboard" > Dashboard</button>
              </li>
              <li class="nav-item">
                  <button class="nav-link fa fa-upload " routerLink="/upload">upload </button>
                </li>
            
            </ul>
            
            
          </div> 
        
         
        
        </nav>
    
       
        </div>
 
      