
<!-- <div class="fluid-container">
      <div class="row">
      
        <div class="col-sm-12">
            <div id="bg" class="img-fluid">
           
            <div class="card-img-overlay">

            
                <div  style="background: rgba(7, 15, 7, 0.7);"  >
                        
                       
               <div class="col-sm-4 col-md-8 col-lg-12">              
              <p class="display-4  text-center  "  style="font-family: 'Pacifico', cursive;color: white;">Submit<span style="font-family: 'Pacifico', cursive;"  
                class="text-danger">Assignments</span></p> 
              </div>  
                </div>                       
             
            
          <div class=" col-sm-4 col-md-8 col-lg-12 text-center">
           <a routerLink="/upload"><img src="../../assets/img/cloud.png">
         </a> </div>
          <div class=" col-sm-4 col-md-8 col-lg-12 text-center" >
              <button class="btn btn-warning btn-lg " id="joinbutton" routerLink="/join" >Join Us</button>
           </div>
           
                         
          </div>
        </div>
             

    </div>
  
  </div>
</div>
-->
<body>
  <div class="fluid-container">
    <div class="row">
        <div  class="col-sm-12 col-md-12 col-lg-12">
          <div class="card">
              <div class="bg">
              


                    <div  style="background: rgba(7, 15, 7, 0.7);"  class="mt-4" >
                      <p class="display-4  text-center  "  style="font-family: 'Pacifico', cursive;color: white;">Submit<span style="font-family: 'Pacifico', cursive;"  
                      class="text-danger">Assignments</span></p> 
                    </div>

                    <div class=" col-sm-4 col-md-8 col-lg-12 text-center">
                      <a routerLink="/upload"><img src="../../assets/img/cloud.png">
                      </a> </div>
                    <div class=" col-sm-4 col-md-8 col-lg-12 text-center mb-4" >
                      <button class="btn btn-warning btn-lg " id="joinbutton" routerLink="/join" >Join Us</button>
                    </div>
                    <div id="demo" class="carousel slide" data-ride="carousel">

                      <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                    </ul>
                    
                      <!-- The slideshow -->
                    <div class="carousel-inner" style="background: rgba(7, 15, 7, 0.7);" class="display-3 ml-4 mr-4 text-center h-100 text-info  " >
                        <div class="carousel-item active">
                          <p >"If You Think Math is Hard Try Web Design"</p>
                        </div>
                        
                        <div class="carousel-item">
                          <p>"Talk is Cheap Show me The Code"</p>
                        </div>
                    </div>
                    
                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    
                         </div>
                  
                  </div>
       
               </div>
            </div>
  </div>
  </div>
</body>